<aside class="aside  typeset  aside--{{ include.align | default: 'right' }}">

  {% if page.layout == "post" %}
    <section class="section  section--related-posts">
      {% include post-related.html %}
    </section>

  {% elsif page.layout == "page" or page.layout == "home" or page.layout == "blog" %}
    <section class="section  section--description">
         <!-- <h3>Pour ne rien louper</h3>  -->
<div id="mc_embed_shell">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    <style type="text/css">
#mc_embed_signup{background:#1f1f1f; false;clear:left; font:12px Helvetica,Arial,sans-serif; width: 100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
        <form action="https://mc.us14.list-manage.com/subscribe/landing-page?u=0c2a4753bf8ef8390af944568&id=5dd922a43d&f_id=0091bae5f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <div id="mc_embed_signup_scroll"><h4>Inscrivez-vous à notre newsletter:</h4>
                <div class="indicates-required"><span class="asterisk">*</span> Champ requis.</div>
                <div class="mc-field-group"><label for="mce-EMAIL">Votre Adresse email <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                </div><div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0c2a4753bf8ef8390af944568_5dd922a43d" tabindex="-1" value=""></div><div class="clear"><input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Inscription"></div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>

<!--     <p>{{ site.description }}</p> -->
      {% include nav-social.html %}
    </section>

  {% elsif page.layout == "categories" %}
    <section class="section  section--category-index">
      <h3>Recherche par catégorie</h3>
      {% include nav-categories.html %}
    </section>

  {% endif %}

</aside>
